@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600');

// Bootstrap configuration
$enable-responsive-font-sizes: true;
$theme-colors: (
  //primary: #00bbff
);
$grid-gutter-width: 3rem;
$font-size: 1rem !default;
$font-size-lg: 2.125rem !default;
$font-size-sm: .80rem !default;
$font-family-base: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: 'Volkhov', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-sans-serif: $font-family-base;
$btn-padding-y-lg: 1rem;
$btn-padding-x-lg: 2rem;
$link-decoration: underline;
$border-radius-lg: 1rem;
$input-height-lg: calc(3.375rem + 2px);
$input-padding-y: 0.9375rem;
$input-padding-x: 0.9375rem;
$input-padding-x-lg: 1.4rem;
$display1-size: 3rem;

$h1-font-size: 2.5rem;
$h3-font-size: .875rem;

$headings-font-weight: 600;
$headings-margin-bottom: 1.4rem;

// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$spacers: map-merge($spacers, (
        2rem: 2rem,
        4rem: 4rem,
        6rem: 6rem,
));

$display-font-sizes: (
        1: 4rem
);

@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";
@import "~bootstrap/scss/helpers/visually-hidden";
@import "~bootstrap/scss/helpers/stretched-link";

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 2px;
  border: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 187, 255, 0.75), rgba(0, 0, 0, 0));
}

.root, #root {
  height: 100vh;
  width: 100vw;
}

.btn-primary-outline {
  @include button-outline-variant($yellow, black, $yellow, $yellow);
  border-color: darken($yellow, 14);
}

.font-serif {
  font-family: $font-family-serif;
}

.font-mono {
  font-family: $font-family-monospace;
}

.flex-grow {
  flex-grow: 1;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.blockquote {
  margin-left: -1.75rem;
  margin-right: 1.75rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 1.42188rem;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.75rem;
  font-size: 1.20112rem;
  line-height: 1.75rem;
  color: inherit;
  border-left: 0.32813rem solid hsla(0,0%,0%,0.9);
  border-left-color: inherit;
  font-family: $font-family-serif;
  opacity: 0.8;

  p {
    margin: 0;
  }
  em, strong {
    color: black;
  }
}

.Home__gradientLine {
  height: 8px;
  width: 100%;
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
}


@include media-breakpoint-up(md) {
  .container {
    max-width: 42rem;
  }
}

main {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4.5rem;
  padding-top: 4.5rem;
}

article.changelog-item {
  padding: 24px 20px 24px 58px;
  border-left: 1px solid #d1d5da;
  position: relative;
  font-weight: bold;
  font-size: 18px;

  @include media-breakpoint-up(md) {
    padding: 24px 64px;
  }


  time {
    color: #6a737d;
  }

  p {
    margin: 0;
  }

  &:before {
    background: #d1d5da;
    content: "";
    left: 0;
    height: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    z-index: 1;
  }
}

h2 {
  margin-top: 2rem;
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}

.changelog-item {
  &:hover {
    background: #efefef;
  }
}

.changelog-item__heading {
  font-weight: 400;
  font-size: 1.4rem;
  margin: .4rem 0;
}
