/**
Bootstrap theme configuration
 */
$enable-responsive-font-sizes: true;

// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600');

$spacers: map-merge($spacers, (
  2rem: 2rem,
  4rem: 4rem,
  6rem: 6rem,
));

$yellow: #FFCE50;

$theme-colors: (
  "primary": $yellow,
  "secondary": #052825,
);

$grid-gutter-width: 3rem;
$font-size: 1rem !default;
$font-size-lg: 2.125rem !default;
$font-size-sm: .80rem !default;
$font-family-base: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: 'Volkhov', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-sans-serif: $font-family-base;
$btn-padding-y-lg: 1rem;
$btn-padding-x-lg: 2rem;
$link-decoration: underline;
$border-radius-lg: 1rem;
/**
 This is for forms
 */
$input-height-lg: calc(3.375rem + 2px);
$input-padding-y: 0.9375rem;
$input-padding-x: 0.9375rem;
$input-padding-x-lg: 1.4rem;

$display1-size: 8rem;
$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$headings-font-weight: 900;
$headings-margin-bottom: 1.45rem;

@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/utilities/background";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/code";

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 12px;
  border: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 187, 255, 0.75), rgba(0, 0, 0, 0));
}

.root, #root {
  height: 100vh;
  width: 100vw;
}

.btn-primary-outline {
  @include button-outline-variant($yellow, black, $yellow, $yellow);
  border-color: darken($yellow, 14);
}

.font-serif {
  font-family: $font-family-serif;
}

.font-mono {
  font-family: $font-family-monospace;
  font-size: 14px;
}

.flex-grow {
  flex-grow: 1;
}

.fill {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
