.Header {
  background-size: cover;
  background-position: center center;
  margin-bottom: 48px;
  border-bottom: 1px solid #aaa;
}

.Header__height {
  padding-top: 140px;
  padding-bottom: 140px;
}
.Header__brand {
  white-space: pre-wrap;
  font-weight: bold;
  font-size: 4rem;
  line-height: 3rem;
  display: inline;
  > a {
    color: #111;

    &:hover,
    &:active {
      text-decoration: none;
      color: #111;
    }
  }
}

.Header__aboutMe {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}

.Header__myName {
  font-weight: bold;
  font-size: 2rem;
}

.Header__myBio {
  font-weight: bold;
}


