$enable-responsive-font-sizes: true;



// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "settings";

@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/utilities/background";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/custom-forms";

@import "~bootstrap/scss/code";

.flex-grow {
  flex-grow: 1;
}

.display-1 {
  font-size: 32px;
  font-weight: 100;
  font-family: $font-family-base;
}

.card-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

ul {
  padding: 0;
  margin: 0;
  margin-left: 18px;
  margin-bottom: 20px;
}
ol {
  padding: 0;
  margin: 0;
  margin-left: 28px;
}
hr {
  width: 200px;
  margin: 40px auto 20px auto;
}
a {
  color: #22BAD9;
}
a.active {
  color: darken(#22BAD9, 30%);
}
article {
  margin: 0 auto;
  max-width: 650px;
  position: relative;
}
h1 {
  font-size: 28px;
  font-family: $font-family-mono;
  font-weight: bold;
}
h2 {
  font-family: $font-family-mono;
  font-size: 20px;

  .red {
    color: rgb(255, 0, 31);
  }
}
h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-family: $font-family-mono;

}

pre {
  background: #eee;
  padding: 10px;
}
