

/**
Bootstrap theme configuration
 */
$enable-responsive-font-sizes: true;

// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:600');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Volkhov:700');

$font-size:          1rem !default;
$font-size-lg:       2.125rem !default;
$font-size-sm:       .80rem !default;
$font-family-base: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: 'Volkhov', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-sans-serif: 'IBM Plex Sans';
$font-family-mono: 'IBM Plex Mono';


/**
 This is for forms
 */
$input-height-lg: calc(3.375rem + 2px);
$input-padding-y: 0.9375rem;
$input-padding-x: 0.9375rem;
$input-padding-x-lg: 1.4rem;


@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/utilities/background";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/code";

@import "./typography.scss";

.list-group-item {
  background: none;
}

/**
============
Utilities
============
*/
.flex-grow {
  flex-grow: 1;
}

.fill {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/**
============
All elements
============
*/
hr {
  width: 200px;
  @extend .my-5;
}
a {
  color: #22BAD9;
}
a.active {
  color: darken(#22BAD9, 30%);
}
article {
  margin: 0 auto;
  max-width: 650px;
  position: relative;
}

pre {
  background: #eee;
  padding: 10px;
}
