
// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/utilities";

* {
  font-family: Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
hr {
  width: 200px;
  margin: 40px auto 20px auto;
}
a {
  color: #22BAD9;
}
a.active {
  color: darken(#22BAD9, 30%);
}
article {
  margin: 0 auto;
  max-width: 650px;
  position: relative;
}
button {
  align-items: center;
  background-color: #22BAD9;
  border: 0;
  color: white;
  display: flex;
  padding: 5px 7px;
}
button:active {
  background-color: #1B9DB7;
  transition: background-color .3s
}
button:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
}
h1 {
  font-weight: 100;
  font-size: 20px;
  color: rgb(255, 0, 31);
}
pre {
  background: #eee;
  padding: 10px;
}

main ul > li:before {
  content: '- ';
}