.display-1 {
  font-weight: bold;
  color: #FFCE50;
}

/**
We only use bold in Volkhov
 */
.font-serif {
  font-weight: bold;
  font-family: $font-family-serif;
}

/**
We only use bold in Mono too
 */
.font-mono {
  font-weight: bold;
  font-family: $font-family-monospace;
}
