
// Required

// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/utilities/shadows";

.Index {
  .Index__button {
    width: auto;
    background-color: transparent;
    font-weight: bold;
  }

  .Index__buttonContainer {
    border-radius: 0.25rem;
  }
  .Index__button--openSource {
    background: linear-gradient(-135deg, #FCE38A 0%, #F38181 100%);
  }
  .Index__button--work {
    background: linear-gradient(-135deg, #17EAD9 0%, #6078EA 100%);
  }
  .Index__button--hobbyProject {
    background: linear-gradient(-135deg, #43E695 0%, #3BB2B8 100%);
  }

}